@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Primary */
  --Light-red: hsl(0, 100%, 67%);
  --Orangey-yellow: hsl(39, 100%, 56%);
  --Green-teal: hsl(166, 100%, 37%);
  --Cobalt-blue: hsl(234, 85%, 45%);

  /* Gradients */
  /* background */
  --Light-slate-blue: hsl(252, 100%, 67%);
  --Light-royal-blue: hsl(241, 81%, 54%);

  /* (circle) */
  --Violet-blue: hsla(256, 72%, 46%, 1);
  --Persian-blue: hsla(241, 72%, 46%, 0);

  /* Neutral */
  --White: hsl(0, 0%, 100%);
  --Pale-blue: hsl(221, 100%, 96%);
  --Light-lavender: hsl(241, 100%, 89%);
  --Dark-gray-blue: hsl(224, 30%, 27%);
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--White);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 1.8rem;
  line-height: 1.4;
}

.main-container {
  max-width: 70rem;
  background-color: var(--White);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10rem;
  border-radius: 3rem;
  box-shadow: 15px 13px 60px 8px hsl(241, 100%, 89%, 0.3);
}

.main-result {
  max-width: 35rem;
  background: linear-gradient(
    to bottom,
    var(--Light-slate-blue),
    var(--Light-royal-blue)
  );
  text-align: center;
  border-radius: 3rem;
  padding: 2.2rem 4.8rem 3rem 4.8rem;
}

.top-result {
  font-size: 2.4rem;
  margin-top: 1.2rem;
  margin-bottom: 3rem;
  color: var(--Light-lavender);
}

.num {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--Light-lavender);
  margin: 2.4rem auto;
  width: 19rem;
  height: 19rem;
  background: linear-gradient(
    to bottom,
    var(--Violet-blue),
    var(--Persian-blue)
  );
  border-radius: 50%;
}

.num span {
  font-size: 6.4rem;
  font-weight: 800;
  color: var(--White);
}
.main-result h1 {
  font-size: 3.2rem;
  font-weight: 800;
  color: var(--White);
  margin-bottom: 2rem;
}
.main-para {
  color: var(--Light-lavender);
  font-size: 1.8rem;
  font-family: "Hanken Grotesk", sans-serif;
  margin-bottom: 2rem;
}
section {
  width: 35rem;
  padding: 3.8rem 3.4rem 3.4rem 3rem;
}

section h1 {
  font-size: 2.2rem;
  color: var(--Dark-gray-blue);
  margin-bottom: 2.4rem;
}

/* Summary logo and name styling */
.reaction {
  background-color: hsla(0, 100%, 67%, 0.1);
  color: hsla(0, 100%, 67%, 0.8);
  font-size: 1.8rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
}
.memory {
  background-color: hsla(39, 100%, 56%, 0.1);
  color: hsla(39, 100%, 56%, 0.8);
  font-size: 1.8rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
}
.verbal {
  background-color: hsla(166, 100%, 37%, 0.1);
  color: hsla(166, 100%, 37%, 0.8);
  font-size: 1.8rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
}
.visual {
  background-color: hsla(234, 85%, 45%, 0.1);
  color: hsla(234, 85%, 45%, 0.8);
  font-size: 1.8rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
}
.reaction-flex,
.memory-flex,
.verbal-flex,
.visual-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.reaction,
.memory,
.verbal {
  margin-bottom: 2rem;
  border-radius: 0.6rem;
}
.visual {
  margin-bottom: 3.6rem;
  border-radius: 0.6rem;
}
section img {
  margin-right: 1rem;
}
/* Summary Numbers styling */
.num-100 {
  color: hsl(224, 30%, 27%, 0.5);
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}
.num-80 {
  color: var(--Dark-gray-blue);
  font-weight: 700;
  margin-right: 1rem;
}
.num-92 {
  color: var(--Dark-gray-blue);
  font-weight: 700;
  margin-right: 1rem;
}
.num-61 {
  color: var(--Dark-gray-blue);
  font-weight: 700;
  margin-right: 1rem;
}
.num-72 {
  color: var(--Dark-gray-blue);
  font-weight: 700;
  margin-right: 1rem;
}

/* Button */
button {
  width: 100%;
  background-color: var(--Dark-gray-blue);
  color: var(--White);
  font-size: 1.8rem;
  font-weight: 600;
  padding: 1.8rem;
  border-radius: 5rem;
  border: none;
  cursor: pointer;
}

button:hover,
button:active {
  background: linear-gradient(
    to bottom,
    var(--Light-slate-blue),
    var(--Light-royal-blue)
  );
}

/* Footer */
.attribution {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 5rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 425px) {
  .main-container {
    max-width: 42rem;
    flex-direction: column;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: 3rem;
  }
  .main-result {
    max-width: 42rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 3rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3rem;
  }
  .top-result {
    font-size: 3rem;
    margin-bottom: 4rem;
  }
  .num {
    width: 23rem;
    height: 23rem;
  }
  .num span {
    font-size: 7rem;
  }
  .main-result h1 {
    font-size: 4rem;
    margin-bottom: 2.4rem;
  }
  .main-para {
    font-size: 1.8rem;
    margin-bottom: 2.4rem;
  }
  section {
    width: 42rem;
    padding: 3.8rem;
  }
  section h1 {
    font-size: 2rem;
    margin-bottom: 3rem;
  }
  .reaction,
  .memory,
  .verbal {
    margin-bottom: 2.4rem;
  }
  .visual {
    margin-bottom: 3.2rem;
  }
  button {
    font-size: 2.2rem;
    padding: 2.4rem;
    cursor: pointer;
  }
  .attribution {
    font-size: 1.5rem;
    margin-bottom: 5rem;
  }
}
